<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malmoim.mapper.EntryMapper">


    <select id="countRoomByCode" resultType="integer">
        select COUNT(*) from room where code = #{code}
    </select>

    <select id="getRoomInfoByCode" resultType="Room">
        select * from room where code = #{code}
    </select>

    <select id="getOneRoomWithOnlyRoomNo" resultType="Room">
        select * from room where code = #{roomNo}
    </select>
</mapper>