<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malmoim.mapper.EntryMapper">


    <select id="countRoomsByCode" resultType="integer">
        select COUNT(*)
        from room
        where code = #{code}
    </select>

    <select id="getRoomInfoByCode" resultType="Room">
        select *
        from room
        where code = #{code}
    </select>

    <select id="selectRoomByNo" resultType="Room">
        select *
        from room
        where no = #{roomNo}
    </select>

    <insert id="insertParticipant"
            useGeneratedKeys="true"
            keyProperty="no"
            keyColumn="no">
        insert into participant(nickname, room_no, created_at)
        values (#{nickname}, #{roomNo}, NOW())
    </insert>

</mapper>
