<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curtaincall.mapper.MemberMapper">


    <insert id="signUp">
        insert into member(name,id,password,email,date_of_birth,gender)
        values(#{name},#{id},#{password},#{email},#{dateOfBirth},#{gender})
    </insert>

    <select id="isAlreadyExistedId" resultType="integer">
        select COUNT(*) from member where id = #{id}
    </select>

</mapper>