<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malmoim.mapper.QnaRoomMapper">


    <!-- qna_room 테이블에 Q&A 방 정보 추가 -->
    <insert id="insertQnaRoom">
        insert into qna_room(room_no,question_started_at,question_ended_at,status)
        values(#{roomNo},null,null,#{status})
    </insert>

    <!-- 질문 접수 시작 시간과 종료 시간 수정 -->
    <update id="updateQuestionPeriod">
        update qna_room set question_started_at=#{startedAt},question_ended_at=#{endedAt}  where room_no =#{roomNo}
    </update>


    <update id="updateQnaPhase">
        update qna_room
        set status = #{status}
        where room_no = #{roomNo}
    </update>


    <!-- 방 번호 기준 질문 타이머 정보 조회 -->
    <select id="selectQuestionPhaseByRoomNo" resultType="com.malmoim.dto.qna.phase.QnaPhaseResponse">
        select R.no as room_no,
               Q.status,
               Q.question_started_at as phase_started_at,
               Q.question_ended_at as phase_ended_at
        from room R join qna_room Q
        on R.no = Q.room_no
        where Q.room_no = #{roomNo}
    </select>

    <!-- 방 번호 기준 투표 타이머 정보 조회 -->
    <select id="selectVotingPhaseByRoomNo" resultType="com.malmoim.dto.qna.phase.QnaPhaseResponse">
        select R.no as room_no,
               Q.status,
               Q.voting_started_at as phase_started_at,
               Q.voting_ended_at as phase_ended_at
        from room R join qna_room Q
        on R.no = Q.room_no
        where Q.room_no = #{roomNo}
    </select>

    <select id="selectQnaRoomByRoomNo" resultType="QnaRoom">
        select room_no,
               question_started_at,
               question_ended_at,
               voting_started_at,
               voting_ended_at,
               status from qna_room where room_no = #{roomNo}
    </select>

    <update id="updateVotingPeriod">
        update qna_room set voting_started_at=#{startedAt}, voting_ended_at=#{endedAt}
        where room_no = #{roomNo}
    </update>

    <select id="isParticipantOfThisRoom" resultType="integer">
        select 1 from participant where no =#{participantNo} and room_no  = #{roomNo}
    </select>
</mapper>
