<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malmoim.mapper.QnaRoomMapper">


    <insert id="insertQnaRoom">
        insert into qna_room(room_no,question_started_at,question_ended_at) values(#{roomNo},null,null)
    </insert>

    <update id="updateQuestionPeriod">
        update qna_room set question_started_at=#{startedAt},question_ended_at=#{endedAt}  where room_no =#{roomNo}
    </update>


    <select id="selectQuestionTimerByRoomNo" resultType="com.malmoim.dto.room.qna.timer.StartTimerResponse">
        select R.no as room_no,R.status,Q.question_ended_at ,Q.question_started_at
        from room R join qna_room Q
        on R.no = Q.room_no
        where Q.room_no = #{roomNo}
    </select>

    <update id="updateRoomStatus">
        update room
        set status=#{status}
        where no = #{roomNo}
    </update>
</mapper>
