<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malmoim.mapper.QuestionMapper">

    <insert id="registerQuestion" useGeneratedKeys="true" keyProperty="no" keyColumn="no">
        insert into question(participant_no,content,room_no,vote_count,status,created_at)
        values(#{participantNo},#{content},#{roomNo},#{voteCount},#{status},#{createdAt})
    </insert>

    <select id="getQuestionList" resultType="com.malmoim.dto.qna.QuestionListResponse">
        select * from question where room_no = #{roomNo}
    </select>
</mapper>
