<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malmoim.mapper.RoomMapper">


    <!-- room 테이블에 방 추가 -->
    <insert id="insertRoom" useGeneratedKeys="true" keyProperty="no">
        insert into room(host_no,title,code,capacity,password,visibility,type)
        values(#{hostNo},#{title},#{code},#{capacity},#{password},#{visibility},#{type})
    </insert>

    <select id="selectRoomsByHostNo" resultType="Room">
        select no,
               host_no,
               title,
               code,
               capacity,
               created_at,
               type,
               visibility
        from room
        where host_no = #{hostNo}
        order by created_at desc
        limit #{size} offset #{offset}

    </select>

    <select id="countRoomsByHostNo" resultType="integer">
        select count(*) from room where host_no = #{hostNo}
    </select>

    <select id="existsByRoomNoAndHostNo" resultType="integer">
        select exists (select 1 from room where room.no = #{roomNo} and room.host_no = #{hostNo})
    </select>

    <!-- 동일한 입장 코드를 가진 방 개수 조회 -->
    <select id="countRoomsByCode" resultType="integer">
        select COUNT(*) from room where code = #{code}
    </select>

    <select id="selectRoomByCode" resultType="Room">
        select * from room where code = #{code}
    </select>

    <select id="selectRoomForPasswordVerification" resultType="Room">
        select * from room where no =#{roomNo}
    </select>
</mapper>
