<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malmoim.mapper.RoomMapper">


    <insert id="CreateRoom" useGeneratedKeys="true" keyProperty="no">
        insert into room(host_no,title,code,capacity,password,visibility,type)
        values(#{hostNo},#{title},#{code},#{capacity},#{password},#{visibility},#{type})
    </insert>

    <select id="getMyRooms" resultType="Room">
        select * from room where host_no =#{no} order by created_at desc
        limit #{size} offset #{offset}

    </select>

    <select id="countMyRooms" resultType="integer">
        select count(*) from room where host_no =#{no}
    </select>

    <select id="getMyOneRoom" resultType="Room">
        select * from room where no=#{no} and host_no=#{hostNo}
    </select>

    <update id="updateRoomStatus">
        update room set status=#{status} where no = #{roomNo} and host_no =#{hostNo}
    </update>

    <select id="countByCode" resultType="integer">
        select COUNT(*) from room where code = #{code}
    </select>

    <select id="getOneRoomWithOnlyNo">
        select * from room where no =#{no}
    </select>

</mapper>